<div class="column is-half">
<div class="card">
  <div class="card-content">
    <p class="title"><%= @customer.name %></p>
    <p class="subtitle">Address: <%= @customer.address %>, <%= @customer.city %>, <%= @customer.state%>, <%= @customer.country %></p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Email:<br/><%= @customer.email %>
      </span>
    </p>
    <p class="card-footer-item">
      <span>
        Favorite Beer:<br/><%= link_to @customer.beer.name, @customer.beer%>
      </span>
    </p>
  </footer>
</div>
</div>