<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Breweries</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <header>
          <aside class="menu">
            <h2 class="title is-2 menu-label"><%= link_to 'Craft Beer Directory', root_path %></h2>
            <ul class="menu-list">
              <li><h2 class="subtitle is-5"><%= link_to "About", :controller => 'pages', :action => 'about' %></li></h2>
              <li><h2 class="subtitle is-5"><%= link_to "Customers", :controller => 'customer', :action => 'index' %></li></h2>
            </ul>
          </aside>
        </header>
        <br/>
        <%= render partial: 'beers/search' %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
